@model IEnumerable<LogAndTaskModel>
@{
    ViewBag.Title = "预约记录";
}

@section CssJs{
    <link href="~/Content/common.css" rel="stylesheet" />
    <link href="~/Content/logs.css" rel="stylesheet" />
}

<div class="content">
    <div class="panel panel-default">
        <div class="panel-heading">
            预约记录
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>是否体检体温</th>
                        <th>是否体检心率</th>
                        <th>预约医生姓名</th>
                        <th>是否完成</th>
                    </tr>
                </thead>
                <tbody>
                    @{ int color = 0;}
                    @foreach (var item in Model)
                    {
                        <tr class="@Html.GetTableCss(color++)">
                            <th scope="row">@item.Id</th>
                            <td>@(item.IsCheckTmp ? "是" : "否")</td>
                            <td>@(item.IsCheckHtBt ? "是" : "否")</td>
                            <td>@item.Name</td>
                            <td>
                                @if (item.IsFilsh)
                                {
                                    <a title="点击查看报告" href="@Url.Action("ShowRep", "User", new { id = item.Id})">已完成</a>
                                }
                                else
                                {
                                    <span title="该体检尚未完成">未完成</span>
                                }
                            </td>
                        </tr>
                    }
                    @if (Model.Count() <= 0)
                    {
                        <tr class="text-center">
                            <td colspan="5" class="text-danger">暂无预约记录!</td>
                        </tr>
                    }
                </tbody>
            </table>

            <a target="_blank" href="@Url.Action("Order","User")" class="btn btn-success">预约</a>
        </div>
    </div>

</div>