@model GetRepModel
@{
    ViewBag.Title = "报告";
}

@section CssJs{
    <link href="~/Content/common.css" rel="stylesheet" />
}

<div class="content">
    <div id="box">
    </div>
    <div>
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-info" style="margin-top:7em;">
                <div class="panel-heading">
                    <h3 class="panel-title">报告单</h3>
                </div>
                <div class="panel-body">

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>名称</th>
                                <th>描述</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">姓名</th>
                                <td>@Model.UName</td>
                            </tr>
                            <tr>
                                <th scope="row">性别</th>
                                <td>@(Model.Sex == "1" ? "男" : "女")</td>
                            </tr>
                            <tr>
                                <th scope="row">年龄</th>
                                <td>@Model.Age</td>
                            </tr>
                            <tr>
                                <th scope="row">医生姓名</th>
                                <td>@Model.DName</td>
                            </tr>
                            <tr>
                                <th scope="row">体温</th>
                                <td>@(Model.Tmp == "0" ? "未体检" : $"{Model.Tmp} ℃")</td>
                            </tr>
                            <tr>
                                <th scope="row">心跳</th>
                                <td>@(Model.HtBt == "0" ? "未体检" : $"{Model.HtBt} / minute")</td>
                            </tr>
                        </tbody>
                    </table>

                    <button type="submit" onclick="history.go(-1)" class="btn btn-info">返回</button>
                </div>
            </div>
        </div>
    </div>
</div>